.header {
    position: fixed;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    height: 65px;

    border-radius: 0.5rem;
    background-color: #fff;

    z-index: 100;
}

.container-header {
    max-width: 1280px;
    margin: 0 auto;

    user-select: none;
}

.header-align {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 65px;
}

.header-name a {
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    color: #612378;
    text-decoration: none;
}

.header-align ul li{
    display: inline-block;

    position: relative;

    list-style: none;
    margin: 0 20px;
}

.header-align ul li a{
    font-family: "Prompt";
    font-size: 16px;
    color: #612378;
    text-decoration: none;
    text-transform: uppercase;
}

.header-align ul li::after{
    content: '';

    position: absolute;
    left: 0;
    bottom: -10px;

    height: 3px;
    width: 0;

    background: #612378;
    transition: 0.5s;
}

.header-align ul li:hover:after{
    width: 100%;
}